@CHARSET "ISO-8859-1";

/*site-wide*/
body {
	background-image:url(Assets/stonewall.jpg);
	font-family:Arial;
	color:#FFF;
}

#mainContent {
	background-color:#8E8073;
	width:800px;
	margin:auto;
	padding:20px 50px;
}

#prompt {
	background-color:#8E8073;
	border:5px ridge #FFF;
	text-align:center;
	padding:30px;
	position: absolute;
	top:25%;
	bottom:25%;
	left:25%;
	right:25%;
	z-index:1000;
}

#promptContent {
	vertical-align:middle;
}

#ok {
	text-transform:uppercase;
	/*position:relative;
	top:100px;*/
	padding:10px 20px;
}

.goldButton {
	color:#FFF;
	background-color:#F8BA53;
	width:100px;
	border:none;
	font-weight:bold;
	padding:5px;
	text-decoration:none;
}

/*for register.php*/
.mainRegister {
	height:601.75px;	
}

.mainRegister h1 {
	text-align:center;
}

form#register, form#login {
	width:360px;
	text-align:center;
	padding:20px 10px;
	border:groove 5px #FFF;
}

form#login {
	position:relative;
	top:-538px;
	left:410px;
}

#register h1, #login h1 {
	text-align:center;
}

#invalid {
	color:#FF0000;
}

#biolabel {
	font-weight:bold;
}

.input {
	width:346px;	
}

#textarea {
	width:346px;
	height:200px;
}

/*for header*/
header {
	background-color:#8E8073;
	width:800px;
	margin:10px auto;
	padding:20px 50px 1px;
	text-align:center;
}

#title {
	margin-bottom:0;
}

#username {
	height:50px;
	width:100%;
	text-align:right;
	position:relative;
	margin-top:0;
}

#username a {
	background-color:#1B1C15;
	color:#FFF;
	font-size:0.9em;
	padding:10px 5px;
}

#username a[href^="user"] {
	position:absolute;
	top:15px;
	right:135px;
}

#username a[href^="logout"] {
	position:absolute;
	top:15px;
	right:70px;
}

header img {
	height:100px;
}

header h1 {
	font-size:4em;
	margin:20px auto 10px;
}

header ul {
	padding:5px 5px 1px;
	font-size:0.8em;
}

header li {
	background-color:#F8BA53;
	display:inline-block;
	margin:10px 5px;
	padding:7px 12px;
}

header a {
	text-decoration:none;
	color:#FFF;
	font-weight:bold;
}

/*for home page*/
#pending {
	font-weight:bold;
	font-size:2em;
}

#games {
	text-align:center;
}

#games th {
	width:390px;
} 

.gameList {
	width:390px;
	padding:10px;
	border-spacing:0 10px;
	border-collapse:separate;
}

.gameList td {
	list-style-type:none;
	padding:10px;
	background-color:#1B1C15;
	position:relative;
}

#gameContainer {
	width:800px;
	padding:20px 10px;
}

#gameContainer td {
	vertical-align:top;
}

#games a, #playerRow a {
	color:white;
	text-decoration:none;
}

.goldButton[href^="game.php"] {
	position:absolute;
	top:10px;
	right:10px;
	display:block;
	padding:5px 10px;
}

/*for hosting games*/
#hostGame {
	border:2px solid #FFF;
}

#hostTable {
	width:800px;
	text-align:center;
}

#hostTable tr {
	width:390px;
}

#hostTable td, #hostTable th {
	padding:20px 10px;
}

[id$="Players"] {
	display:inline-block;
	width:20px;
	padding:5px;
	text-align:center;
}

.hostLabel {
	text-align:right;
}

.hostLeft {
	text-align:left;
}

[id^="fewer"],[id^="more"] {
	width:20px;
	font-weight:normal;
}

/*for game details*/
#gameDetails {
	background-color:#1B1C15;
	color:#FFF;
	width:500px;
	text-align:center;
	margin:auto;
}

#gameDetails #head {
	font-size:2em;
}

#gameDetails th {
	width:247px;
	text-align:right;
	padding:10px;
}

#gameDetails th[colspan="2"] {
	text-align:center;
}

#gameDetails td {
	width:247px;
	text-align:left;
	padding:10px;
}

#playerRow th {
	vertical-align:top;
}

#playerList li {
	list-style-type:none;
	position:relative;
	left:-40px;
	margin:0 0 10px;
}

/*for user info*/
#userInfo {
	background-color:#1B1C15;
	color:#FFF;
	width:500px;
	text-align:center;
	margin:auto;
}

#userInfo th[colspan="2"] {
	text-align:center;
}

#userInfo th, #userInfo td {
	padding:10px;
}

#userInfo th {
	text-align:right;
	width:247px;
	vertical-align:top;
}

#userInfo td {
	text-align:left;
	width:247px;
}

#userActions {
	text-align:center;
}

ul#userActions {
	margin:auto;
}

#userActions li {
	display:inline;
	margin:5px;
	width:50px;
}

/*for friend requests*/
.friendRequests [id^='friend'] {
	width:300px;
	background-color:#1B1C15;
	color:#FFF;
	padding:20px 50px;
	margin:10px auto;
}

[id^="friend"] [id^="accept"] {
	margin:2px 5px;
}
