@CHARSET "ISO-8859-1";

/*site-wide*/
body {
	background-image:url(Assets/stonewall.jpg);
	font-family:Arial;
	color:#FFF;
}

#mainContent {
	background-color:#8E8073;
	width:800px;
	margin:auto;
	padding:20px 50px;
}

#prompt {
	background-color:#8E8073;
	border:5px ridge #FFF;
	text-align:center;
	padding:30px;
	position: absolute;
	top:25%;
	bottom:25%;
	left:25%;
	right:25%;
	z-index:1000;
}

#promptContent {
	vertical-align:middle;
}

#ok {
	text-transform:uppercase;
	position:relative;
	top:100px;
	padding:20px;
}

/*for register.php*/
.mainRegister {
	height:601.75px;	
}

.mainRegister h1 {
	text-align:center;
}

form#register, form#login {
	width:360px;
	text-align:center;
	padding:20px 10px;
	border:groove 5px #FFF;
}

form#login {
	position:relative;
	top:-538px;
	left:410px;
}

#register h1, #login h1 {
	text-align:center;
}

#invalid {
	color:#FF0000;
}

input#register, input#login, #ok {
	color:#FFF;
	background-color:#F8BA53;
	width:100px;
	border:none;
	font-weight:bold;
	padding:5px;
}

#biolabel {
	font-weight:bold;
}

.input {
	width:346px;	
}

#textarea {
	width:346px;
	height:200px;
}

/*for header*/
header {
	background-color:#8E8073;
	width:800px;
	margin:10px auto;
	padding:10px 50px;
	text-align:center;
}

header img {
	height:100px;
}

header h1 {
	font-size:4em;
}

header ul {
	text-align:right;
}

header li {
	background-color:#F8BA53;
	display:inline;
	margin:10px 5px;
	border:#8E8537 outset 2px;
	padding:5px;
}

header a {
	text-decoration:none;
	color:#FFF;
	font-weight:bold;
}

/*for home page*/
#games {
	text-align:center;
}

#games li {
	list-style-type:none;
	padding:10px;
}

#games table {
	width:800px;
	padding:20px 10px;
}

#ongoing {
	font-weight:bold;
	font-size:2em;
}

/*for list box*/
#listBox {
	height:222px;
	margin-bottom:10px;
}

.highlight {
	background-color:rgb(232,242,254);
}

p[id^="left"], p[id^="right"] {
	margin:0;
}

#leftBox, #rightBox {
	width:300px;
	min-height: 200px;
	border: #000 solid 1px;
	padding:10px;
}

#listButtons {
	text-align:center;
	width:40px;
	position:relative;
	top:-160px;
	left:340px;
}

#rightBox {
	position:relative;
	top:-322px;
	left:400px;
}

#listButtons button{
	width:35px;
	display:block;
	margin: 3px auto;
}